<!DOCTYPE html>
<html lang="en" ng-app="TopGit">

<head>
  <title>Top Git</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="/stylesheets/materialize.min.css">
  <!-- <link href="http://materializecss.com/extras/noUiSlider/nouislider.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <!-- <script src="https://use.fontawesome.com/eca8c8ecbe.js"></script> -->
</head>

<body>
  <nav class="navbar-fixed black">
    <div class="nav-wrapper main-nav container">
      <a class="brand-logo"><i class="fa fa-github">  TopGit</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a><i class="material-icons left">view_module</i>TopGit Desktop View</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a><i class="material-icons left">view_module</i>TopGit Mobile View</a></li>
      </ul>
    </div>
  </nav>
  <div id="main-wrapper" class="container" ng-controller="MainCtrl">
    <!-- NAV BAR -->
    <div class="row">
      <!-- FILTERS -->
      <div class="col l4 s12 filters">
        <ul class="collection with-header filter-title row">
          <li class="collection-header">
            <h5>Filters</h5>
          </li>
        </ul>
        <ul class="collapsible popout row" data-collapsible="expandable">
          <!-- <li class="collection-header filter-title">
            <h5>Filters</h5>
          </li> -->
          <li>
            <div class="collapsible-header active"><i class="material-icons">sort</i>Rate Limit</div>
            <div class="collapsible-body">
              <!-- <p>x-ratelimit-remaining / x-ratelimit-limit</p> -->
              <h5 class="center">{{headers["x-ratelimit-remaining"]}} out of {{headers["x-ratelimit-limit"]}}</h5>
            </div>
          </li>
          <li>
            <div class="collapsible-header active"><i class="material-icons">star_rate</i>Stars</div>
            <div class="collapsible-body">
              <p class="range-field">
                <input type="range" id="test5" min="0" max="200000" string-to-number ng-model="starsLimit" ng-change="getProjectsByStars(1)" ng-model-options="{debounce: 1000}" />
                <span class="input-field"><input id="seek" type="number" string-to-number value="starsLimit" ng-model="starsLimit" min="0" max="200000" ng-change="getProjectsByStars(1)" ng-model-options="{debounce: 1000}"/><label for="seek">stars limit</label></span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col l8 s12">
        <h5 ng-show="err">{{err}}</h5>
        <h5 ng-show="success">{{success}}</h5>
        <div class="row">
          <nav class="search-bar">
            <div class="nav-wrapper">
              <div class="input-field">
                <input id="searchbox1" class="searchbox dropdown-button" type="search" data-activates='search-dropdown' placeholder="Filter on language" ng-model="searchLang">
                <label id="searchbox-label1" class="searchbox-label" for="searchbox"><i class="material-icons">search</i></label>
                <i class="material-icons right">close</i>
              </div>
            </div>
          </nav>
          <ul id='search-dropdown' class='dropdown-content collection'>
            <li class="collection-item colgrey" ng-repeat="language in filtered = (programmingLanguages | filter : searchLang ) track by $index" ng-click="getProjectsByLanguage(filtered[$index],1)"><b>{{language}}</b>
            </li>
            <li class="collection-item colgrey" ng-show="filtered.length == 0"><b>Not Found</b></li>
          </ul>
        </div>
        <div class="row">
          <div class="row project-list" ng-repeat="project in projects.items track by $index">
            <div class="col l2 s3 valign-wrapper user-img">
              <a target="_blank " ng-href="{{project.owner.html_url}} "><img class="responsive-img valign " ng-src="{{project.owner.avatar_url}}" alt="desc"></a>
            </div>
            <div class="col l8 s6 " style="word-wrap: break-word;">
              <h5>{{project.full_name}}</h5>
              <span class="position flow-text materialize-textarea "><b>Language </b> : {{project.language}}</span>
              <span class="position flow-text truncate materialize-textarea "><b>Description </b> : {{project.description}}</span>
              <!-- <span class="position flow-text materialize-textarea "><a class="btn-flat " target="_blank " ng-href="{{project.html_url}} "><b>View Repo</b></a></span> -->
            </div>
            <div class="col l2 s3">
              <span class="row"><i class="material-icons starr left">star_rate</i>{{project.stargazers_count}}</span>
              <span class="row"><i class="material-icons left">link</i><a class="repo-link" target="_blank " ng-href="{{project.html_url}} ">REPO</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l6 offset-l6 ">
        <ul class="pagination centered">
          <li ng-show="currPage > 1" class="waves-effect"><a ng-click="getNextorPrevPage(-1)"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a>{{currPage}}</a></li>
          <li ng-hide="projects.length < 10" class="waves-effect"><a ng-click="getNextorPrevPage(1)"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hiddendiv ">
    <!-- Angular Material Dependencies-->
    <script src="/javascripts/global/angular.min.js "></script>
    <script src="/javascripts/global/jquery.js "></script>
    <!-- <script src="https://refreshless.com/nouislider/distribute/nouislider.min.js"></script> -->
    <script src="/javascripts/global/materialize.min.js "></script>
    <!-- <script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script> -->
    <script src="/javascripts/MainController.js "></script>
    <script>
    $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
    </script>
  </div>
</body>

</html>
